@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BankApp.Models.AddCustomerForm
@{
    ViewBag.Title = "Create";
}

<h2>Ajouter un nouveau client</h2>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, "Prenom", new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, "Nom", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerNumber, "Numéro client", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Mot de passe", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
            
        <div class="form-group">
            @Html.LabelFor(model => model.Solde, "Solde", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Solde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Solde)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.BIC, "BIC", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BIC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BIC)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.IBAN, "IBAN", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IBAN)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.BankerID, "Banquier", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BankerID, Model.Bankers, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BankerID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

