@model IEnumerable<BankApp.Models.Customer>

@{
    ViewBag.Title = "Liste des clients";
}

<h2>Liste des clients</h2>
<p>
    @Html.ActionLink("Ajouter un client ", "Create", "Banker")
</p>
<table class="table">
    <tr>
        <th>
            Numéro client
        </th>
        <th>
            Prenom
        </th>
        <th>
            Nom
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AccountNumber
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @Html.ActionLink("Historique", "CustomerHistory", "Banker", item.ID) |
                @Html.ActionLink("Imprimer RIB", "CustomerRIB", "Banker", item.ID) |
                @Html.ActionLink("Virement", "CustomerTrensfer", "Banker", item.ID) |
                @Html.ActionLink("Ajouter un compte", "AddAccount", "Banker", item.ID)
            </td>
        </tr>
    }
</table>



