@using BankApp.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session[Utils.SessionCustomer] != null)
                {
                    @Html.ActionLink("Bank Application", "Index", "Customer", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (Session[Utils.SessionBanker] != null)
                {
                    @Html.ActionLink("Bank Application", "Index", "Banker", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Bank Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                    @if (Session[Utils.SessionCustomer] != null)
                    {
                        var customer = Session[Utils.SessionCustomer] as Customer;

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Historique", "Index", "Customer", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Virement", "Transfer", "Transaction", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Simulateur de credit", "SimulateCredit", "Customer", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Imprimer RIB", "PrintRIBCustomer", "Customer", new { area = "" }, new { @class = "" })</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@customer.FirstName<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Modifier le mot de passe", "ChangePassword", "Customer")</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Déconnexion", "Logout", "Customer")</li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else if (Session[Utils.SessionBanker] != null)
                    {
                        var banker = Session[Utils.SessionBanker] as Banker;

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Clients", "Index", "Banker", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Inscrir un client", "Create", "Banker", new { area = "" }, new { @class = "" })</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@banker.FirstName<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Modifier le mot de passe", "ChangePassword", "Banker")</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Déconnexion", "Logout", "Banker")</li>
                                </ul>
                            </li>
                        </ul>
                    }
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="notices text-center">
            @if (TempData["notice"] != null)
            {
                <h4 class="alert alert-success text-center">@TempData["notice"]</h4>
            }
            @if (TempData["error"] != null)
            {
                <h4 class="alert alert-danger text-center">@TempData["error"]</h4>
            }
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>