@using BankApp.Models
@model List<BankApp.Models.Transaction>

@{
    ViewBag.Title = "title";
}

<h2>Solde : @ViewBag.Solde€</h2>
<hr/>
<h3>Historique des transaction</h3>
@if (Model.Count == 0)
{
    <h3 class="alert alert-warning">Aucune transaction pour le moment</h3>
}
else
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th><h3>Debit</h3></th>
                <th><h3>Credit</h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.Label</td>
                    <td>@transaction.Date</td>
                    @switch (transaction.TransactionType)
                    {
                        case TransactionType.DEBIT:
                            <td>@transaction.Amount €</td>
                            <td> - </td>
                            break;
                        case TransactionType.CREDIT:
                            <td> - </td>
                            <td>@transaction.Amount €</td>
                            break;
                    }
                </tr>
            }
        </tbody>
    </table>
}
